In [1]:
import pandas as pd

data_fadhil = pd.read_clipboard()

# Menampilkan data
print(data_fadhil)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]

In [3]:
fadhil = data_fadhil[data_fadhil['Bedrooms'] == 2]

# Menampilkan nama
print(fadhil)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
11   123000  1870         2          2       2   Yes         East
18   111400  1700         2          2       1   Yes         East
28    69100  1600         2          2       3    No        North
31   112300  1930         2          2       2   Yes        North
34   117800  2000         2          2       3    No        North
36   117500  1880         2          2       2    No        North
40   106600  1560         2          2       1    No         East
42   105600  1990         2          2       3    No         East
46   129800  1990         2          3       2    No        North
48   115900  1980         2          2       2    No         East
51    91100  1860         2          2       3    No        North
52   117400  2150         2          3       4    No        North
55   125700  1720         2          2       2   Yes         East
61   100900  1610         2          2       2    No        North
63   120500  1910         2          3       2    No         East
65   111100  1450         2          2       1   Yes        North
75   106900  1900         2          2       2    No        North
82   164800  2050         2          2       1   Yes         West
84    90500  1520         2          2       3    No        North
89    97800  2010         2          2       4    No        North
95   152500  1970         2          2       1   Yes         West
97   126800  2000         2          2       1   Yes         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
122  144800  2060         2          2       1   Yes         East
125  113500  2070         2          2       2    No        North

In [5]:
fadhil['Bathrooms'] = pd.to_numeric(fadhil['Bathrooms'])

import numpy as np

fadhil['Bathrooms'] = fadhil['Bathrooms'].apply(lambda x: 'large' if x > 2 else 'small')

# Menampilkan DataFrame setelah modifikasi
print(fadhil)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

C:\Users\User\AppData\Local\Temp\ipykernel_12500\1811342269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fadhil['Bathrooms'] = pd.to_numeric(fadhil['Bathrooms'])
C:\Users\User\AppData\Local\Temp\ipykernel_12500\1811342269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fadhil['Bathrooms'] = fadhil['Bathrooms'].apply(lambda x: 'large' if x > 2 else 'small')

In [7]:
import numpy as np

fadhil['newvariable'] = np.where(fadhil['Offers'] > 2, 'large', 'small')

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(fadhil)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood newvariable
0    114300  1790         2     small       2    No         East       small
11   123000  1870         2     small       2   Yes         East       small
18   111400  1700         2     small       1   Yes         East       small
28    69100  1600         2     small       3    No        North       large
31   112300  1930         2     small       2   Yes        North       small
34   117800  2000         2     small       3    No        North       large
36   117500  1880         2     small       2    No        North       small
40   106600  1560         2     small       1    No         East       small
42   105600  1990         2     small       3    No         East       large
46   129800  1990         2     large       2    No        North       small
48   115900  1980         2     small       2    No         East       small
51    91100  1860         2     small       3    No        North       large
52   117400  2150         2     large       4    No        North       large
55   125700  1720         2     small       2   Yes         East       small
61   100900  1610         2     small       2    No        North       small
63   120500  1910         2     large       2    No         East       small
65   111100  1450         2     small       1   Yes        North       small
75   106900  1900         2     small       2    No        North       small
82   164800  2050         2     small       1   Yes         West       small
84    90500  1520         2     small       3    No        North       large
89    97800  2010         2     small       4    No        North       large
95   152500  1970         2     small       1   Yes         West       small
97   126800  2000         2     small       1   Yes         East       small
110  111600  1710         2     small       1    No        North       small
111  114900  1740         2     small       2    No        North       small
112  123600  1940         2     small       2   Yes         East       small
119  109700  1920         2     small       4    No        North       large
120  110400  1930         2     large       3    No        North       large
122  144800  2060         2     small       1   Yes         East       small
125  113500  2070         2     small       2    No        North       small

C:\Users\User\AppData\Local\Temp\ipykernel_12500\957954854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fadhil['newvariable'] = np.where(fadhil['Offers'] > 2, 'large', 'small')

In [9]:
# Menambahkan kolom baru 'newvariable' 
fadhil['newvariable'] = fadhil['Price'] / fadhil['SqFt']

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(fadhil)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood  newvariable
0    114300  1790         2     small       2    No         East    63.854749
11   123000  1870         2     small       2   Yes         East    65.775401
18   111400  1700         2     small       1   Yes         East    65.529412
28    69100  1600         2     small       3    No        North    43.187500
31   112300  1930         2     small       2   Yes        North    58.186528
34   117800  2000         2     small       3    No        North    58.900000
36   117500  1880         2     small       2    No        North    62.500000
40   106600  1560         2     small       1    No         East    68.333333
42   105600  1990         2     small       3    No         East    53.065327
46   129800  1990         2     large       2    No        North    65.226131
48   115900  1980         2     small       2    No         East    58.535354
51    91100  1860         2     small       3    No        North    48.978495
52   117400  2150         2     large       4    No        North    54.604651
55   125700  1720         2     small       2   Yes         East    73.081395
61   100900  1610         2     small       2    No        North    62.670807
63   120500  1910         2     large       2    No         East    63.089005
65   111100  1450         2     small       1   Yes        North    76.620690
75   106900  1900         2     small       2    No        North    56.263158
82   164800  2050         2     small       1   Yes         West    80.390244
84    90500  1520         2     small       3    No        North    59.539474
89    97800  2010         2     small       4    No        North    48.656716
95   152500  1970         2     small       1   Yes         West    77.411168
97   126800  2000         2     small       1   Yes         East    63.400000
110  111600  1710         2     small       1    No        North    65.263158
111  114900  1740         2     small       2    No        North    66.034483
112  123600  1940         2     small       2   Yes         East    63.711340
119  109700  1920         2     small       4    No        North    57.135417
120  110400  1930         2     large       3    No        North    57.202073
122  144800  2060         2     small       1   Yes         East    70.291262
125  113500  2070         2     small       2    No        North    54.830918

C:\Users\User\AppData\Local\Temp\ipykernel_12500\1797801536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fadhil['newvariable'] = fadhil['Price'] / fadhil['SqFt']

In [11]:
fadhil = fadhil.drop(columns=['newvariable'])

# Menampilkan DataFrame 'nama' 
print(fadhil)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

In [13]:
kolom1dan2 = data_fadhil.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

      Price  SqFt
0    114300  1790
1    114200  2030
2    114800  1740
3     94700  1980
4    119800  2130
..      ...   ...
123  119700  1900
124  147900  2160
125  113500  2070
126  149900  2020
127  124600  2250

[128 rows x 2 columns]

In [15]:
# Memilih kolom 1 dan 2 dari DataFrame data_nama
kolom3dan4 = data_fadhil.iloc[:, 2:4]

# Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

     Bedrooms  Bathrooms
0           2          2
1           4          2
2           3          2
3           3          2
4           3          3
..        ...        ...
123         3          3
124         4          3
125         2          2
126         3          3
127         3          3

[128 rows x 2 columns]

In [17]:
# Menggabungkan dua DataFrame 
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

# Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]

In [21]:
# Menggabungkan baris dari dua DataFrame
baris1sd3 = data_fadhil.iloc[0:3, :]
baris4sd6 = data_fadhil.iloc[3:6, :]
baris1sd6 = pd.concat([baris1sd3, baris4sd6])

# Menampilkan DataFrame baris1sd6
print(baris1sd6)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East
5  114600  1780         3          2       2    No        North

In [23]:
data_fadhil_sort=data_fadhil.sort_values(by='Price')
print(data_fadhil_sort)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
28    69100  1600         2          2       3    No        North
54    81300  1650         3          2       3    No        North
104   82300  1910         3          2       4    No         East
17    83600  1990         3          3       4    No        North
47    90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
81   184300  2140         4          3       2   Yes         West
29   188000  2040         4          3       1   Yes         West
85   188300  2250         4          3       2   Yes         West
116  199500  2290         5          4       1   Yes         West
103  211200  2440         4          3       3   Yes         West

[128 rows x 7 columns]